.heading-searchbar-container {
  display: flex;
  flex-direction: column;
}
.heading-searchbar-container input {
  padding: 5px;
  font-size: large;
}
.show-matched-items-container ul li {
  list-style-type: none;
}
.show-matched-items-container ul li:hover {
  cursor: pointer;
}
